body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;

    
}

header{
    background: #582399;
    color: white;
    padding: 15px 0;  
    font-size: 24px;

}

nav {
    background-color: #522679;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#links-menu {
    display: flex;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 18px;
    background: #7f5b96;
    border-radius: 5px;

  
}
nav a:hover {
    background: #003d82;

}

img {
    width: 120px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
}

.container{
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
}
h2 {
    text-align: center;
}
table tr td { /* se nn colocar o "table tr" o td seria aplicado em todos os tds q ele encontrasse */
    padding: 20px;
}
table {
    margin: 0 auto; /*esp. externo de 0 acima e abaixo automatico esquerda e direita*/
}
.campos {
    margin: 20px;
    border: 1px solidblack;
    
}
