body {
    /* fonte do texto */
    font-family: Arial, sans-serif;
    background-color: rgba(80, 53, 92, 0.267);
    /* usa modelo FlexBox, conceito de caixa para posicionamento */
    display: flex;
    justify-content: center; /* centraliza na horizontal */
    height: 100vh; /* altura da página 100% da altura da página*/
    align-items: center; /* centraliza na vertical */

}
.container {
    background-color: rgb(90, 68, 95);
    padding: 20px; /* espaçamento interno */
    border-radius: 10px; /* borda */
    text-align: center; /* texto centralizado */
    box-shadow: 0 4px 8px; /* sombra */
}
button {
    background-color: blue;
    color: white;
    border: none;
    /* 10 abaixo e 20 esquerda e direita */
    padding: 10px 20px;
}
/* ao passar o mouse em cima do botão */
button:hover {
    background-color: rgb(7, 45, 150);
}
.Foto {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
